<div>
  <h3> Investments FY 2019-2020</h3>
  <hr />
  <form #invForm="ngForm">
    <div *ngFor="let inv of investment; index as i">
      <div class="form-group row">
        <label [for]="inv.section" class="col-sm-2 col-form-label">{{inv.section}}</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [id]="inv.section" [placeholder]="inv.section"
            [name]="inv.section" [(ngModel)]="investmentValues[i].value" required>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
