<div>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Wealth App</h1>
    <p>Perfact solution for your personal finaces!</p>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Home </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/invest" routerLinkActive="active">Add Investments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expense" routerLinkActive="active">Add Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view" routerLinkActive="active">View</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
