<div>
  <h3> Income Tax Calculator FY 2019-2020</h3>
  <hr/>
  <form #taxForm="ngForm">
    <div class="form-group row">
      <label for="income" class="col-sm-2 col-form-label">Income</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="income" placeholder="income" [(ngModel)]="tax.income"
          name="income" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="deductions" class="col-sm-2 col-form-label">Deductions</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="deductions" placeholder="deductions" [(ngModel)]="tax.deduction"
          name="deduction" required>
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="onCalculate()">Calculate Tax</button>
  </form>
</div>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Head</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tax.taxform">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
